@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
    .sectA{
        overflow-x: hidden;
    }
    .sectB{
        overflow-x: hidden;
        margin: 5px;
        
    }
    .sectC-own{
        overflow-x: hidden;
        height: auto;
        
    }
    .sectD{
        overflow-x: hidden;
        height: auto;
        margin-top:50px ;
    }
    .sectE{
        overflow-x: hidden;
        flex-direction: column;
        height: auto;
    }
    .sectD-content{
        flex-direction: column; 
    }
    .sectE-content{
        flex-direction: column; 
        margin-left: 60px;
    }
    .sectC{
        flex-direction: column;
    }
    .img-logo {
        margin: 35px;
        width: 27%;
        margin-top: 30px;
        margin-left: 22px;
    }
    .links {
        display: inline;
        padding-right: 9px;
        font-size: 20px;
    }
    .navig {
        margin-right: 20px;
        margin-top: -89px;
    }
    .sectB-img {
        width: 100%;
        margin-top: -30px;
        margin-left: -290px;
    }
    .sectB-imglogo {
        width: 100%;
        margin-left: -60px;
        margin-top: 30px;
    }
    
    .sectB-content {
        margin-top: 320px;
        width: 100%;
    }
    .sectB-title {
        font-size: 29px;
        padding: 0px 45px;
        text-align: center;
        margin-right: -40px;
    }
    .sectB-desc {
        font-size: 17px;
        text-align: center;
        padding: 0px 67px;
        margin-right: -30px;
    }
    .sectB-input {
        width: 300px;
        padding: 15px;
        margin-left: 94px;
    }
    .sectB-btn {
        width: 330px;
        padding: 15px;
        margin-left: 85px;
        color: white;
        background-color: hsl(224, 93%, 58%);
        border-radius: 4px;
        border: 3px solid hsl(224, 93%, 58%);
        margin-top: 20px;
    }
    .sectC-img {
        width: 100%;
        margin-top: -90px;
        order: 1;
    }
    .sectC-content {
        width: 100%;
        order: 2;
        margin-top: 40px;
    }
    .sectC-logo {
        width: 100%;
        margin-left: 0px;
        margin-top: -80px;
    }
    .sectC-title {
        font-size: 25px;
        color: hsl(243, 87%, 12%);
    }
    .sectC-desc {
        color: hsl(238, 22%, 44%);
        padding: 0px 2px;
    }
    .food{
        text-align: center;
    }
    .card {
        margin-left: 0px;
        background: white;
        width: 350px;
        border-radius: 9px;
        padding: 38px;
        color: hsl(238, 22%, 44%);
    }
    .sectD-own {
        width: 100%;
    }
    .sectD-title {
        text-align: center;
    }
    .sectD-desc {
        text-align: center;
        padding: 0px 35px;
        font-size: 20px;
    }
    .sectD-form {
        width: 100%;
        margin-left: 0px;
        margin-top: -30px;
    }
    .sectD-input {
        width: 270px;
    }
    .sectD-btn {
        width: 300px;
    }
    .about {
        padding-top: 70px;
        padding-left: 0px;
        margin-left: -40px;
    }
    .contact {
        padding-top: 30px;
        padding-left: 0px;
        margin-left: -40px;
    }
    .icon-s {
        padding-top: 30px;
        padding-left: 125px;
        display: flex;
        padding-bottom: 80px;
    }
    

}
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){
    .sectA{
        overflow-x: hidden;
    }
    .sectB{
        overflow-x: hidden;
        flex-direction: column;
        
    }
    .sectC-own{
        overflow-x: hidden;
        height: auto;
        
    }
    .sectD{
        overflow-x: hidden;
        height: auto;
        margin-top: 50px;
    }
    .sectE{
        overflow-x: hidden;
        flex-direction: column;
        height: auto;
    }
    .sectD-content{
        flex-direction: column; 
    }
    .sectE-content{
        flex-direction: column; 
        margin-left: 80px;
    }
    .sectC{
        flex-direction: column;
    }
    .sectB-content {
        width: 100%;
        margin-top: 50px;
        order: 2;
    }
    .sectB-img {
        width: 100%;
        margin-top: -30px;
        order: 1;
    }
    .sectB-title {
        font-size: 46px;
        padding: 0px 30px;
        text-align: center;
    }
    .sectB-desc {
        font-size: 19px;
        padding: 0px 44px;
        text-align: center;
    }
    .sectB-input {
        width: 400px;
        padding: 16px;
        margin-left: 140px;
        margin-bottom: 30px;
    }
    .sectB-btn {
        width: 430px;
        margin-left: 145px;
    }
    .sectC-content {
        width: 100%;
        order: 2;
        margin-top: 50px;
    }
    .sectC-img {
        width: 100%;
        margin-top: -60px;
        order: 1;
    }
    .sectC-title {
        font-size: 39px;
        text-align: center;
    }
    .sectC-desc {
        margin-left: 40px;
    }
    .food {
        text-align: center;
        font-size: 27px;
    }
    .card {
        margin-left: 100px;
    }
    .sectD-own {
        width: 100%;
    }
    .sectD-form {
        width: 100%;
        margin-left: 80px;
    }
    .sectD-title {
        font-size: 40px;
        text-align: center;
    }
    .sectD-desc {
        text-align: center;
    }
    .sectD-input {
        width: 400px;
    }
    .sectD-btn {
        width: 430px;
        padding: 12px;
    }
    .about {
        padding-top: 50px;
        padding-left: 0px;
        margin-left: -40px;
    }
    .contact {
        padding-top: 19px;
        padding-left: 0px;
        margin-left: -40px;
    }
    .icon-s {
        padding-top: 20px;
        padding-left: 260px;
        display: flex;
        padding-bottom: 90px;
    }
}